.movies-card {
    width: 360px;
    position: relative;
}

.movies-card__image {
    width: 100%;
    margin-bottom: 14px;
    cursor: pointer;
    border-radius: 8px;
}

.movies-card__heading {
    display: flex;
    justify-content: space-between;
    max-width: 360px;
    align-items: center;
    margin: 0 14px;
}

.movies-card__title {
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.movies-card__time {
    color: #8B8B8B;
    text-align: center;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    margin: 0;
    background-color: #2F2F2F;
    padding: 4px 5px;
    border-radius: 3px;
}

.movies-card__button {
    position: absolute;
    top: 14px;
    right: 14px;
    border: none;
    display: none;
    cursor: pointer;
}

.movies-card__button_checkmark {
    width: 21px;
    height: 21px;
    background-image: url(../../images/button_checked.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

.movies-card__button-save {
    width: 72px;
    height: 21px;
    flex-shrink: 0;
    border-radius: 30px;
    background-color: #313131;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 9px;
}

.movies-card:hover .movies-card__button {
    display: block;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .movies-card {
        width: 339px;
    }

    .movies-card__image {
        margin-bottom: 24px;
    }
    
    .movies-card__heading {
        margin: 0 4px 0 0;
    }
}